# SQL

# [Data Definition Language (DDL)](#Data-Definition-Language-:-DDL)

- [Create](#CREATE)
    - [Database](#Create-Database)
    - [Table](#Create-Table)    
    
- [Alter](#ALTER)
    - [Add Column](#Add-Column)
    - [Modify Data_type Column](#Modify-Data_type-Column)
    - [Change Column Name & Data_type](#Change-Column-Name-&-Data_type)
    - [Drop Column](#Drop-Column)
    - [Add Primary Key](#Add-Primary-Key)
    - [Add Foreign Key](#Add-Foreign-Key)
    - [Add Unique Key](#Add-Unique-Key)
    - [Add Index](#Add-Index)
    
- [Drop](#DROP)
    - [Database](#Drop-Database)
    - [Table](#Drop-Table)
    
- [Rename](#RENAME)

# [Data Manipulation Language (DML)](#Data-Manipulation-Language-:-DML)
- [Select](#SELECT)
- [Insert](#INSERT)
- [Update](#UPDATE)
- [Delete](#DELETE)

# [PANDAS with SQL](#SQL-with-PANDAS)
- [Load Data](#Load-Data)

In [1]:
import pandas as pd
import pymysql

In [2]:
con = pymysql.connect(host='localhost', user='root', passwd='', db='')
cs = con.cursor()
cs.execute('show databases')
sv = cs.fetchone()
print('%s' %sv)
con.close()
cs.close()

information_schema

# Data Definition Language : DDL

## CREATE

### Create Database

In [34]:
try:
    con = pymysql.connect(host='localhost', user='root', passwd='')
    cs = con.cursor()
    cs.execute("""CREATE DATABASE register IF NOT EXIST""")
    
except pymysql.err.OperationalError:
    print(" !!! Can't Access a Databases !!! ")
except pymysql.err.ProgrammingError:
    print(" !!! Table Exists !!! ")
    
else:
    print('Create Completed')
    con.close()
    cs.close()

 !!! Table Exists !!!

### Create Table

In [38]:
try:
    con = pymysql.connect(host='localhost', user='root', passwd='', db='register')
    cs = con.cursor()
    
    cs.execute("""CREATE TABLE students
                  (student_id INT(5) UNSIGNED NOT NULL,
                  name VARCHAR(100),
                  surname VARCHAR(100),
                  PRIMARY KEY(student_id));""")
    
    cs.execute("""CREATE TABLE teachers
                  (teacher_id INT(5) UNSIGNED NOT NULL,
                  name VARCHAR(100),
                  surname VARCHAR(100),
                  PRIMARY KEY(teacher_id));""")
    
except pymysql.err.OperationalError:
    print(" !!! Can't Access a Databases !!! ")
except pymysql.err.ProgrammingError:
    print(" !!! SQL Syntax Not Correct !!! ")

else:
    print('Create Completed')
    con.close()
    cs.close()

Create Completed

## ALTER

### Add Column

- MYSQL : ALTER TABLE table_name ADD column_name data_type,
                                    ADD column_name data_type;
                                    
- SQL SERVER : ALTER TABLE table_name ADD column_name data_type,
                                             column_name data_type;

### Modify Data_type Column

- MYSQL : ALTER TABLE table_name MODIFY column_name data_type,
                                    MODIFY column_name data_type;
                                    
- SQL SERVER : ALTER TABLE table_name ALTER COLUMN column_name data_type,
                                                      column_name data_type;

### Change Column Name & Data_type

- ALTER TABLE table_name CHANGE old_column new_column data_type,
                         CHANGE old_column new_column data_type;

### Drop Column

- ALTER TABLE table_name DROP column_name, 
                         DROP column_name;

### Add Primary Key

- MYSQL : ALTER TABLE table_name ADD PRIMARY KEY(column_name);
                                    
- SQL SERVER : ALTER TABLE table_name ADD CONSTRAINT alias_primary_key_name PRIMARY KEY(column_name);

### Add Foreign Key

- MYSQL : ALTER TABLE table_name1 ADD FOREIGN KEY(attribute_name) REFERENCES table_name2(attribute_name);
           
- MYSQL & SQL SERVER : ALTER TABLE table_name1 ADD CONSTRAINT alias_foreign_key_name FOREIGN KEY (attribute_name) REFERENCES table_name2(attribute_name);

### Add Unique Key

- 1) ALTER TABLE table_name ADD UNIQUE(attribute_name);
- 2) ALTER TABLE table_name ADD CONSTRAINT alias_name UNIQUE(attribute_name);

### Add Index

- CREATE INDEX alias_index_column_name ON column_name(attribute_column);

## DROP

### Drop Database

- DROP DATABASE IF EXISTS database_name;

### Drop Table
- DROP TABLE IF EXISTS table_name;

## RENAME

- MySQL : """ RENAME TABLE old_table_name TO new_table_name; """
- SQL SERVER : """ SP_RENAME 'old_table_name', 'new_table_name'; """

# Data Manipulation Language : DML

## SELECT

In [3]:
try:
    con = pymysql.connect(host='localhost', user='root', passwd='', db='test')
    cs = con.cursor()
    cs.execute('SELECT * FROM employees')
    
except pymysql.err.OperationalError:
    print(" !!! Can't Access a Databases !!! ")
except pymysql.err.ProgrammingError:
    print(" !!! SQL Syntax Not Correct !!! ")
    
else:
    data = cs.fetchall()
    for i in data:
        print(i)
    con.close()
    cs.close()

('01001', 'John', 23, 'GRADUTED')
('14322', 'Peter', 26, 'GRADUTED')
('14324', 'Tom', 25, 'GRADUTED')
('24365', 'Sam', 27, 'GRADUTED')

## INSERT

In [17]:
table_name = "employees"

try:
    con = pymysql.connect(host='localhost', user='root', passwd='', db='test')
    cs = con.cursor()
    cs.execute(f"""INSERT INTO {table_name} VALUES
                 ("153213", "Tommy2", 34, "GRADUTED"),
                 ("753267", "Mimy2", 54, "GRADUTED");""")
    
except pymysql.err.OperationalError:
    print(" !!! Can't Access a Databases !!! ")
except pymysql.err.ProgrammingError:
    print(" !!! SQL Syntax Not Correct !!! ")
    con.rollback()
    
else:
    con.commit()
    print('Save Completed')
    con.close()
    cs.close()

Save Completed

## UPDATE

In [23]:
table_name = "employees"

try:
    con = pymysql.connect(host='localhost', user='root', passwd='', db='test')
    cs = con.cursor()
    cs.execute(f"""UPDATE {table_name} SET
                 FirstName = "Tomy",
                 Age = 24
                 WHERE FirstName = "Tomino";""")
    
except pymysql.err.OperationalError:
    print(" !!! Can't Access a Databases !!! ")
except pymysql.err.ProgrammingError:
    print(" !!! SQL Syntax Not Correct !!! ")
    con.rollback()

else:
    con.commit()
    print('Update Completed')
    con.close()
    cs.close()

Update Completed

## DELETE

In [25]:
table_name = "employees"

try:
    con = pymysql.connect(host='localhost', user='root', passwd='', db='test')
    cs = con.cursor()
    cs.execute(f"""DELETE FROM {table_name}
                   WHERE FirstName = "Mimy2";""")
    
except pymysql.err.OperationalError:
    print(" !!! Can't Access a Databases !!! ")
except pymysql.err.ProgrammingError:
    print(" !!! SQL Syntax Not Correct !!! ")
    con.rollback()
    
else:
    con.commit()
    print('Delete Completed')
    con.close()
    cs.close()

Delete Completed

## TRUNCATE
 """TRUCATE TABLE table_name;"""

    
- TRUNCATE Preformance Better than DELETE

# SQL with PANDAS

## Load Data

In [26]:
name_host = 'localhost'
name_user = 'root'
password_db = ''
name_db = 'test'

con = pymysql.connect(host=name_host, user=name_user, passwd=password_db, db=name_db)

query_sql = 'select * from employees'

df = pd.read_sql(query_sql, con=con)
con.close()
df

  EmployeeId FirstName  Age Certificate
0      01001      John   23    GRADUTED
1      14322     Peter   26    GRADUTED
2      14324       Tom   25    GRADUTED
3     153213      Tomy   24    GRADUTED
4      24365       Sam   27    GRADUTED
5     453213     Tommy   34    GRADUTED
6     453267      Mimy   54    GRADUTED